<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hg.cannonwar.android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="preferExternal">
  <application android:theme="@style/UnityThemeSelector" android:networkSecurityConfig="@xml/network_security_config"  android:name="com.hw.MyApplication" android:isGame="true" >
    <activity  android:screenOrientation="portrait" android:launchMode="singleTop" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density" android:exported="true" android:name="com.hw.HwUnityPlayerActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <!--<meta-data android:name="unityplayer.UnityActivity" android:value="true" />-->
    </activity>
    <meta-data android:name="unity.build-id" android:value="08646bb9-4b63-4dc8-9ceb-051762715d17" />
    <meta-data android:name="unity.splash-mode" android:value="2" />
    <meta-data android:name="unity.splash-enable" android:value="True" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <!--这个值需要修改 -->
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-5470400114155059~9308695995" />
    <!--        这个值需要修改 -->
	<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb940262790023860"/>
	<meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true" />
  </application>
  <!--    针对Android 12（API level 31）新添加的权限-->
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <!--    内购-->
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
</manifest>