<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46614929708-q9ok895ealbvhf02di7k731mcf6kqg40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46614929708-q9ok895ealbvhf02di7k731mcf6kqg40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46614929708-39ee9p29nujqnsr7f2nkj83djd6kjj30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxhHCxZ76qbu4P8ZAv-HMxLq5XHGZpejg</string>
	<key>GCM_SENDER_ID</key>
	<string>46614929708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hg.cannonwar</string>
	<key>PROJECT_ID</key>
	<string>planet-smash-95248</string>
	<key>STORAGE_BUCKET</key>
	<string>planet-smash-95248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46614929708:ios:849a065a18d09fef6e4c89</string>
</dict>
</plist>