<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>int</key>
  <array/>
  <key>rew</key>
  <array/>
  <key>nat</key>
  <array/>
  <key>ban</key>
  <array/>
  <key>conf</key>
  <dict>
   <key>aa</key>
   <string>120</string>
   <key>ab</key>
   <string>60</string>
   <key>ac</key>
   <string>1000</string>
   <key>ad</key>
   <string>20</string>
   <key>ae</key>
   <string>0</string>
   <key>af</key>
   <string>3</string>
   <key>ce</key>
   <string>0</string>
   <key>mg</key>
   <string>0</string>
   <key>mb</key>
   <string>82f28b4dafc71eae</string>
   <key>mc</key>
   <string>8657272328440621</string>
   <key>md</key>
   <string>04cbecb982f92a3f</string>
   <key>ia</key>
   <string>16c9f545d</string>
   <key>ie</key>
   <string>10609407</string>
   <key>id</key>
   <string>10609409</string>
   <key>ic</key>
   <string>10609411</string>
  </dict>
  <key>country</key>
  <string>US</string>
  <key>adjust_token</key>
  <string>vt4m245ps7i8</string>
  <key>hwImportantToken</key>
  <string>sq2ilb</string>
  <key>hwGuideFinishToken</key>
  <string></string>
  <key>hwLevelToken</key>
  <string></string>
  <key>hwMonetizationToken</key>
  <string></string>
  <key>hwPurchaseToken</key>
  <string>l1osbx</string>
  <key>hwVideohighToken</key>
  <string></string>
  <key>hwVideolowToken</key>
  <string></string>
  <key>hwUACToken</key>
  <string></string>
  <key>hwShowCloseToken</key>
  <string></string>
  <key>hwATTToken</key>
  <string></string>
  <key>hwATTAgreeToken</key>
  <string></string>
  <key>hwATTCancelToken</key>
  <string></string>
  <key>hwSecondRetentionToken</key>
  <string></string>
  <key>hwATTCustomAgreeToken</key>
  <string></string>
  <key>hwATTCustomCancelToken</key>
  <string></string>
  <key>hwServiceErrorToken</key>
  <string>gh1abd</string>
  <key>sdk_url</key>
  <string>console.gamebrain.io</string>
  <key>isAdjustPurchase</key>
  <integer>0</integer>
  <key>gb_id</key>
  <string>339</string>
 </dict>
</plist>
